/* Material UI styles */
body {
	margin: 0;
}

.task-list hr {
	margin: 0;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid rgb(225, 225, 225);
	padding: 0;
}

.task-list form {
	margin-bottom: 0;
}

.time-input input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
}

.time-input input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
}
