/* Material UI styles */
body {
	margin: 0;
}

.task-list hr {
	margin: 0;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid rgb(225, 225, 225);
	padding: 0;
}

.task-list form {
	margin-bottom: 0;
}

[class*='NavBar-root-'] {
	margin-top: 0 !important;
}

/* Inputs */
.remove-input-border {
	border: none;
}

div.large-input {
	width: 95%;
}

.add-pointer {
	cursor: pointer;
}

.item-completed {
	color: #868e96;
}

#timeInput {
	width: 80px;
}

/* Round checkboxes */
.round {
	position: relative;
}

.round label {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 28px;
	left: 0;
	position: absolute;
	top: 0;
	width: 28px;
}

.round label:after {
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	content: '';
	height: 6px;
	left: 7px;
	opacity: 0;
	position: absolute;
	top: 8px;
	transform: rotate(-45deg);
	width: 12px;
}

.round input[type='checkbox'] {
	visibility: hidden;
}

.round input[type='checkbox']:checked + label {
	background-color: #66bb6a;
	border-color: #66bb6a;
}

.round input[type='checkbox']:checked + label:after {
	opacity: 1;
}
